<div id="bookListWrapper">
	<br>
	<br>
	<div class ="container text-center">
		<h1>{{kart.name}}</h1>
		<br>
		
		
		<img src="imgs/{{kart.imgMainUrl}}" width="250" height="250"  />
		{{kart.imgValue}}
		
		<br>
		<br>
				<h4>{{kart.fullDetails}}</h4>
		<br>
		 <h2>Download Now  </h2>
		 <br>
 <a href="{{kart.appleLink}}" target="_self"><img src="imgs/apple.png" width="180" height="50" alt="apple" /></a>
 
 <a href="{{kart.googleLink}}" target="_self"><img src="imgs/googlePlay.png" alt="google" name="google" width="180" height="51" id="google" /></a>
 
 
		
		
		
	</div>
	
</div>